<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="paxtonBaseUrl" value="http://paxtonServerIpOrHostname:8080" />
    <add key="eventHubName" value="eventHubLocal" />
    <add key="net2User" value="Firstname Surname" />
    <add key="net2Password" value="password for user" />
    <add key="net2GrantType" value="password" />
    <add key="net2ClientId" value="client id here" />
  </appSettings>
</configuration>
